<!DOCTYPE html>

<html kb-inject>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thomas Fitzgerald Submission</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">
    @Styles.Render("~/Content/css")
</head>
<body>
    <div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/utilities")
    @Scripts.Render("~/bundles/directory-champ")
    @Scripts.Render("~/bundles/jasmine")
    @RenderSection("scripts", required: false)
</body>
</html>
